protobuf==5.27.3
werkzeug==3.0.4
Jinja2==3.1.4
itsdangerous==2.2.0
google-auth
eventlet==0.37.0
flask==3.0.3
flask-cors==4.0.1
flask-restx==1.3.0
mongoengine==0.29.1
numpy
cython
requests
git+https://github.com/SixK/imantics.git
scipy
scikit-learn
Pillow==10.4.0
matplotlib
imgaug
IPython[all]
jupyter
restx-monkey
# importlib-metadata==7.0.2
pycocotools
dnspython==2.6.1
jupyterlab
