protobuf==5.28.3
werkzeug==3.1.1
Jinja2==3.1.4
itsdangerous==2.2.0
google-auth
eventlet==0.37.0
flask==3.0.3
flask-cors==5.0.0
flask-restx==1.3.0
mongoengine==0.29.1
numpy
cython
requests
git+https://github.com/SixK/imantics.git
scipy
scikit-learn
Pillow==11.0.0
matplotlib
imgaug
# IPython[all]
# jupyter
restx-monkey
# importlib-metadata==7.0.2
pycocotools
dnspython==2.7.0
# jupyterlab
